---
pageable: true
title: Blog
---

- page_articles.each do |article|
  .article
    %article
      %h1
        %a{:href => article.url}
          = article.title
      =article.summary(150)
      %time.time
        = article.date.strftime('%b %e %Y')

.page-info
  - if page_number != 1
    %a{:href => "#{url_for(prev_page)}", class: 'pagination'}
      %span.round
        %i.fa.fa-chevron-left
      %span.txt prev
  - else
    %a{:href => "#", class: 'disable'}
      %span.round
        %i.fa.fa-chevron-left
      %span.txt prev

  .page-num
    %p page #{page_number} of #{num_pages}

  - if page_number != num_pages
    %a{:href => "#{url_for(next_page)}", class: 'pagination'}
      %span.txt next
      %span.round
        %i.fa.fa-chevron-right
  - else
    %a{:href => "#", class: 'disable'}
      %span.txt next
      %span.round
        %i.fa.fa-chevron-right
